build/
build-static/
.vscode/
CMakeLists.txt.user
src-old/
.VSCodeCounter/
EVA_BACKEND
参考项目
测试
package
modelcontextprotocol-sdk-1.21.1.tgz
streamable-http.html
site
resource/Get-GpuStatus.cache.json
EVA_TEMP
build_check
build2
build32
build_ninja
workspaces
data
data/logs
images/*.7z
images/*.zip
images/*.tar
images/*.tar.gz
images/arm/
images/x86/
fonts/*.ttf
fonts/*.otf
fonts/*.ttc
fonts/*.otc
fonts/*.woff
fonts/*.woff2
.pytest_cache
**/__pycache__/
*.pyc
target/
.cargo/
.rustup/
config/wunder.yaml
.env
frontend/dist
frontend/.env
frontend/node_modules/
download
temp_dir
vector_knowledge
WUNDER_TEMP
gen/
wunder-desktop/gen/
.tmp*